<div class="content-heading"><strong>Projects</strong></div>
<div class="action-bar text-right">
  <button mat-fab color="primary" class="add-btn" routerLink="/project/add">
    <i class="fa fa-plus"></i>
  </button>
</div>
<div style="padding: 0 10px 10px 10px;">
  <mat-form-field style="width: 100%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <table style="width: 100%" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="business">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Business </th>
      <td mat-cell *matCellDef="let element"> {{element.business}} </td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
      <td mat-cell *matCellDef="let element"> {{element.client}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>

    <ng-container matColumnDef="payment_mode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode </th>
      <td mat-cell *matCellDef="let element"> {{element.payment_mode}} </td>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.start_date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="estimated_delivery_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estimated Delivery Date </th>
      <td mat-cell *matCellDef="let element"> {{element.estimated_delivery_date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="padding-left:30px;"> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)="editProject(row)" tooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="removeProject(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataSource?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
</div>
