.project-container {
  display: flex;
  padding: 60px;
  flex-direction: column;
  background-color: #F5F5F5;
}

.project-container > * {
  width: 100%;
}

.resource-container {
  border: 1px solid lightgray;
  display: flex;
  padding: 15px;
  margin: 5px 10px 10px 0px;
  flex-direction: column;
  background-color: white;
}

.form-actions {
  display: inline; 
  align-items: right;
}

mat-form-field {
  width: 100%;
}