<div class="action-bar" style="padding: 20px;">
  <button mat-stroked-button style="background-color:#455a64; color: white;" routerLink="/projects">
    <i class="fa fa-arrow-left"></i>&nbsp;Back
  </button>
</div>
<div class="project-container">
  <h4>Add New Project</h4>
  <form class="form-content" #form="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Name" name="name" [(ngModel)]="model.name" required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Select Vertical" name="vertical" [(ngModel)]="model.vertical">
              <mat-option value="option">Microgigs</mat-option>
              <mat-option value="option">UIUX</mat-option>
              <mat-option value="option">NOC</mat-option>
              <mat-option value="option">Software System Groups</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Select Client" name="client" [(ngModel)]="model.client">
              <mat-option value="option">Shane</mat-option>
              <mat-option value="option">James</mat-option>
              <mat-option value="option">John</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Business Office Contact" name="business_office_id" [(ngModel)]="model.business_office_id">
              <mat-option value="option">Amber</mat-option>
              <mat-option value="option">Clark</mat-option>
              <mat-option value="option">Mike</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Billing Payment Mode" name="payment_mode" [(ngModel)]="model.payment_mode">
              <mat-option value="option">Cash</mat-option>
              <mat-option value="option">Credit Card</mat-option>
              <mat-option value="option">Paypal</mat-option>
              <mat-option value="option">Stripe</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Development Managers" name="manager" [(ngModel)]="model.manager">
              <mat-option value="option">Mike</mat-option>
              <mat-option value="option">Jeorge</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->
      <!-- <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" name="attachment_date" placeholder="Attachment Date" [(ngModel)]="model.attachment_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div> -->
      <div class="col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" name="start_date" placeholder="Start Date" [(ngModel)]="model.start_date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" name="estimated_delivery_date" placeholder="Estimated Delivery Date"
              [(ngModel)]="model.estimated_delivery_date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Select Status" name="run_level_name" [(ngModel)]="model.run_level_name">
              <mat-option value="option">Active</mat-option>
              <mat-option value="option">Inactive</mat-option>
              <mat-option value="option">On Hold</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-form-field>
      <textarea matInput placeholder="Description" name="description" [(ngModel)]="model.description"></textarea>
    </mat-form-field>
  </form>
  <div class="resource-container">
    <!-- <h4>Development Managers</h4> -->
    <form class="form-content" #form1="ngForm">
      <div class="row" *ngFor="let manager of selectedManagers; let i = index;">
        <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field>
              <mat-select placeholder="Development Managers" name="manager" [(ngModel)]="model.manager">
                <mat-option value="mike">Mike</mat-option>
                <mat-option value="jeorge">Jeorge</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput [matDatepicker]="abc" [readonly]="true" name="attachment_date{{i}}" placeholder="Attachment Date" [(ngModel)]="manager.date">
              <mat-datepicker-toggle matSuffix [for]="abc"></mat-datepicker-toggle>
              <mat-datepicker #abc></mat-datepicker> 
            </mat-form-field>
          </div>
        </div>
        <div class="cole-sm-6">
          <div class="form-group" style="padding: 0 0 0 10px;">
            <button mat-stroked-button (click)="removeAttachment(i)">Remove</button>
            <button mat-stroked-button style="margin-left:10px;" color="primary" (click)="attachMore()">Attach</button>
          </div>
        </div>
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field>
              <mat-select placeholder="Select Resource" name="resource" [(ngModel)]="model.resource">
                <mat-option value="option">James</mat-option>
                <mat-option value="option">Anderson</mat-option>
                <mat-option value="option">Williamson</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
        <div class="col-sm-6">
          <div class="form-group">

          </div>
        </div>
      </div>
    </form>
    <!-- <div class="form-actions action-bar text-right">
          <button mat-stroked-button color="primary">Add</button>
        </div> -->
  </div>
  <div class="form-actions action-bar text-right">
    <button mat-stroked-button routerLink="/">Cancel</button>
    &nbsp;
    <button mat-stroked-button color="primary" (click)="onSubmit()">Save</button>
  </div>
</div>
